{% extends "voting/base.html" %}
{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <b>Voting System</b>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg"><b>Voter Login</b></p>
            <form action="{% url 'voter_login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="sin" placeholder="Enter Voter Valid ID (SIN)" required>
                    <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" name="login"><i
                                class="fa fa-sign-in"></i> Vote Now</button>
                    </div>
                </div>
            </form>
            <br>
            <div class="text-center">
                <a href="{% url 'account_login' %}">Go to Admin Login</a>
            </div>

        </div>
    </div>
 
{% endblock content %} 